.root {
  display: flex;
  flex-grow: 1;
}

.hide {
  display: none;
}

.menuLeftButton {
}
.menuRightButto {
  padding-left: 0.5%;
}

.title {
  flex-grow: 1;
  display: inline;
}
.toolbar {
  display: flex;
  justify-content: space-between;
}
.link {
  text-decoration: none;
}
.link:visited {
  color: white;
}
.link:active {
  color: #4791db;
}
